

@font-face {
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf) format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.ttf) format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.ttf) format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: 'NanumSquareNeoVariable';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.ttf) format("truetype");
}

@keyframes font_45_to_500 {
    from {font-weight: 45;}
    to {font-weight: 400;}
}

@keyframes font_45_to_800 {
    from {font-weight: 45;}
    to {font-weight: 600;}
}

@keyframes bow_to_wob {
    from {background-color: rgba(129,177,31,1); color: rgb(255, 255, 255);}
    to {background-color: rgb(255, 255, 255); color: rgba(129,177,31,1);}
}

@keyframes side_content_move {
    from {left: -25rem;}
    to {left: -2.5rem;}
}

* {
    font-family: "NanumSquareNeoVariable", "NanumSquareNeo", "Pretendard JP", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Hiragino Sans", "Apple SD Gothic Neo", Meiryo, "Noto Sans JP", "Noto Sans KR", "Malgun Gothic", Osaka, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

bold {
    font-weight: 600;
}

body {
    top: 30px;
    padding: 0;
    margin: 0;
}

.right {
    text-align: right;
}

.small {
    font-size: 0.8em;
}

td {
    padding: 0;
    margin: 0;
    width: 25%;
    text-align: center;
}

.title {
    background: linear-gradient(90deg, rgba(129,177,31,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 65%, rgba(129,177,31,1) 100%);
    color: rgba(129,177,31,1);
    padding-top: 8rem;
    text-align: center;
    font-size: 8rem;
    animation-name: font_45_to_800, bow_to_wob;
    animation-duration: 3s;
    font-weight: 600;
}

@media (max-width: 380px) {
    .title {
        font-size: 7rem;
    }
}

::-moz-selection {
    color: rgba(129,177,31,1);
    background-color: rgba(0, 0, 0, 0);
}

::selection {
    color: rgba(129,177,31,1);
    background-color: rgba(0, 0, 0, 0);
}

.subtitle {
    background: linear-gradient(90deg, rgba(129,177,31,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 65%, rgba(129,177,31,1) 100%);
    color: rgba(129,177,31,1);
    padding-bottom: 8rem;
    text-align: center;
    font-size: 2rem;
    animation-name: font_45_to_500, bow_to_wob;
    animation-duration: 3s;
    font-weight: 400;
}

.menu {
    width: 100%; 
    margin: 0;
    padding: 0;
}

.contact_menu {
    height: 2rem;
    margin: 0;
    border: 0;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 10px #00000010;"
}

.site_menu {
    height: 2rem;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: 0px 0px 10px 10px #00000010;"
}

.content {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section {}

.section {
    padding-left: max(calc(50vw - 250px), 2rem);
    padding-right: max(calc(50vw - 250px), 2rem);
    margin-bottom: 2.5rem;
}

.section_title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
    scroll-margin-top: 6rem;
}

#contact {
    position: sticky;
    background-color: rgb(255, 255, 255);
    top: 2rem;
    padding-left: max(calc(50vw - 250px), 2rem);
    padding-right: max(calc(50vw - 250px), 2rem);
}

#site {
    position: sticky;
    background-color: rgb(0, 0, 0);
    top: 0;
    padding-left: max(calc(50vw - 250px), 2rem);
    padding-right: max(calc(50vw - 250px), 2rem);
}

#twitter {
    background: rgb(0, 166, 255);
}

#youtube {
    background: rgb(219, 18, 18);
}

#behance, #github {
    background: rgb(0, 0, 0);
}

.contact_menu:hover {
    background: rgb(255, 255, 255) !important;
    color: rgb(0, 152, 112) !important;
}

.site_menu:hover {
    background: rgb(255, 255, 255) !important;
    color: rgb(0, 152, 112) !important;
}

.collapsible {
    transition: max-height 0.2s ease-out;
    margin-left: 1rem;
    max-height: 8rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.inactive_content {
    max-height: 0;
    margin-bottom: 0;
}

.active {
    font-weight: 700;
}

.collbutton:hover {
    font-weight: 700;
    color: rgb(0, 152, 112);
}

.title_background {
    height: 26rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
    animation-name: bow_to_wob;
    animation-duration: 3s;
    top: 0;
    left: 0;
}

.download {
    height: 1.5rem;
    width: 6rem;
    background-color: rgb(86, 152, 0);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    font-size: 1rem;
    margin-left: 0.5rem;
}

.download:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 152, 112);
    border: 1px solid rgb(0, 0, 0);
}

#profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 0;
    z-index: -100; 
    text-align: center;
}

span#profile {
    margin-bottom: 2rem;
}

#cheonggwang {
    background: rgb(159,216,27);
    background: linear-gradient(123deg, rgba(159,216,27,1) 0%, rgba(60,132,201,1) 100%);
}

#cgbg { 
    background: rgb(159,216,27);
    background: linear-gradient(123deg, rgba(159,216,27,1) 0%, rgba(60,132,201,1) 100%);
    color: white;
    padding-top: 2rem;
    padding-bottom: 0.001rem;
}

#cgbg ::-moz-selection {
    color: rgb(34, 54, 122);
    background-color: rgba(0, 0, 0, 0);
}

#cgbg ::selection {
    color: rgb(34, 54, 122);
    background-color: rgba(0, 0, 0, 0);
}
